@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome!</h2>
<ul>
    <li><a href="sramji2SignOn">I am an existing Student</a></li>
    <li><a href="sramji2Student">I am a new Student</a></li>
</ul>






@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
