@page
@model UIAssignmentRazorPages.Pages.sramji2SignOnModel
@{
}


<h1>Sign On</h1>

<form method="post">

    <div>
        <label asp-for="userID">User ID:</label>
        <input asp-for="userID"/>
        <span asp-validation-for="userID" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="password">Password</label>
        <input asp-for="password"/>
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <button type="submit" asp-page-handler="Submit">Submit</button>
</form>